.cards {
    border-radius: calc(30 * (1px + (100vw - 1530px) / 1530));
    padding-bottom: calc(25 * (1px + (100vw - 1530px) / 1530));
    padding-top: calc(25 * (1px + (100vw - 1530px) / 1530));
    padding-left: calc(23 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(32 * (1px + (100vw - 1530px) / 1530));
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    top: calc(20 * (1px + (100vw - 1530px) / 1530));
}
.sticky {
    padding-left: calc(32 * (1px + (100vw - 1530px) / 1530));
    top: calc(85 * (1px + (100vw - 1530px) / 1530));
    padding-bottom: calc(5 * (1px + (100vw - 1530px) / 1530));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}


@media (max-width: 767px) {
    .cards :global(.swiper-pagination) {
        position: relative;
        margin-top: calc(26 * (1px + (100vw - 430px) / 430));
    }
    .cards :global(.swiper-pagination-bullet) {
        width: calc(9 * (1px + (100vw - 430px) / 430));
        height: calc(9 * (1px + (100vw - 430px) / 430));
        background-color: #373737;
        opacity: 1;
        transition: .3s;
    }
    .cards :global(.swiper-pagination-bullet-active) {
        width: calc(36 * (1px + (100vw - 430px) / 430));
        background-color: white;
        border-radius: calc(100 * (1px + (100vw - 430px) / 430));
        transition: .3s;
    }
    .cards {
        border: none;
        padding: 0;
        margin-top: calc(65 * (1px + (100vw - 430px) / 430));
    }
    .sticky {
        padding-left: calc(8 * (1px + (100vw - 430px) / 430));
        padding-right: calc(8 * (1px + (100vw - 430px) / 430));
        display: block;
        height: auto;
    }
    .wrapper {
        margin-top: calc(100 * (1px + (100vw - 430px) / 430));
    }
}