.card {
    background: linear-gradient(96.32deg, rgba(64, 64, 64, 0.26) 0%, rgba(89, 89, 89, 0.26) 100%);
    padding: calc(36 * (1px + (100vw - 1530px) / 1530));
    border-radius: calc(20 * (1px + (100vw - 1530px) / 1530));
}
.cardTop {
    margin-bottom: calc(36 * (1px + (100vw - 1530px) / 1530));
}
.textWrapper {
    padding-left: calc(28 * (1px + (100vw - 1530px) / 1530));
}
.iconContainer {
    padding: calc(24 * (1px + (100vw - 1530px) / 1530));
}
.icon {
    width: calc(24 * (1px + (100vw - 1530px) / 1530));
    height: calc(24 * (1px + (100vw - 1530px) / 1530));
}
.title {
    font-size: calc(20 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(32 * (1px + (100vw - 1530px) / 1530));
}
.subtitle {
    line-height: calc(20 * (1px + (100vw - 1530px) / 1530));
    font-size: calc(14 * (1px + (100vw - 1530px) / 1530));
}
.textContainer {
    border-color: rgba(255, 255, 255, 0.15);
    padding-top: calc(35 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(24 * (1px + (100vw - 1530px) / 1530));
}
.text {
    max-width: calc(604 * (1px + (100vw - 1530px) / 1530));
}

@media (max-width: 767px) {
    .cardTop {
        margin-bottom: calc(35 * (1px + (100vw - 430px) / 430));
    }
    .iconContainer {
        padding: calc(24 * (1px + (100vw - 430px) / 430));
        width: calc(70 * (1px + (100vw - 430px) / 430));
    }
    .icon {
        width: calc(24 * (1px + (100vw - 430px) / 430));
        height: calc(24 * (1px + (100vw - 430px) / 430));
    }
    .title {
        font-size: calc(18 * (1px + (100vw - 430px) / 430));
        line-height: calc(23 * (1px + (100vw - 430px) / 430));
    }
    .card {
        padding-top: calc(39 * (1px + (100vw - 430px) / 430));
        padding-bottom: calc(44 * (1px + (100vw - 430px) / 430));
        padding-left: calc(33 * (1px + (100vw - 430px) / 430));
        padding-right: calc(19 * (1px + (100vw - 430px) / 430));
        border-radius: calc(20 * (1px + (100vw - 430px) / 430));
        background: linear-gradient(96.32deg, rgba(64, 64, 64, 0.26) 0%, rgba(89, 89, 89, 0.26) 100%);
    }
    .subtitle {
        line-height: calc(19 * (1px + (100vw - 430px) / 430));
        font-size: calc(14 * (1px + (100vw - 430px) / 430));
        margin-top: calc(10 * (1px + (100vw - 430px) / 430));
    }
    .textContainer {
        border-color: rgba(255, 255, 255, 0.15);
        padding-top: calc(35 * (1px + (100vw - 430px) / 430));
        line-height: calc(24 * (1px + (100vw - 430px) / 430));
    }
    .text {
        max-width: 100%;
        font-size: calc(15 * (1px + (100vw - 430px) / 430));
    }
    .textWrapper {
        padding-left: calc(25 * (1px + (100vw - 430px) / 430));
    }
}