.text {
    margin-top: calc(60 * (1px + (100vw - 1530px) / 1530));
    max-width: calc(581 * (1px + (100vw - 1530px) / 1530));
    margin-bottom: calc(75 * (1px + (100vw - 1530px) / 1530));
}
.inner {
    background: linear-gradient(90deg, #171717 0%, #1E1E1E 100%);
    padding-left: calc(70 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(24 * (1px + (100vw - 1530px) / 1530));
    padding-bottom: calc(29 * (1px + (100vw - 1530px) / 1530));
    padding-top: calc(27 * (1px + (100vw - 1530px) / 1530));
    border-radius: calc(20 * (1px + (100vw - 1530px) / 1530));
}
.title {
    font-size: calc(14 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(14 * (1px + (100vw - 1530px) / 1530));
    margin-bottom: calc(10 * (1px + (100vw - 1530px) / 1530));
}
.info {
    font-size: calc(25 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(30 * (1px + (100vw - 1530px) / 1530));
}
.infoMini {
    font-size: calc(20 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(24 * (1px + (100vw - 1530px) / 1530));
}

.infoWrapper {
    margin-top: calc(40 * (1px + (100vw - 1530px) / 1530));
}
.icon {
    height: calc(32 * (1px + (100vw - 1530px) / 1530));
    width: calc(32 * (1px + (100vw - 1530px) / 1530));
}
.socialsWrapper > a {
    margin-right: calc(10 * (1px + (100vw - 1530px) / 1530));
}
.socialsWrapper > a:last-child {
    margin-right: 0;
}
.formTitle > div > *[data-aos="fade-up"]{
    opacity: 1;
    transform: translateZ(0);
}

@media (max-width: 767px) {
    .text {
        display: none;
    }
    .inner {
        background: linear-gradient(90deg, #171717 0%, #1E1E1E 100%);
        padding-left: calc(32 * (1px + (100vw - 430px) / 430));
        padding-right: calc(24 * (1px + (100vw - 430px) / 430));
        padding-bottom: calc(200 * (1px + (100vw - 430px) / 430));
        padding-top: calc(27 * (1px + (100vw - 430px) / 430));
        border-radius: calc(20 * (1px + (100vw - 430px) / 430));
        border: 1px solid #FFFFFF17;
    }
    .title {
        font-size: calc(14 * (1px + (100vw - 430px) / 430));
        line-height: calc(14 * (1px + (100vw - 430px) / 430));
        margin-bottom: calc(10 * (1px + (100vw - 430px) / 430));
        font-weight: 500;
    }
    .formTitle > div > div:first-child{
        margin-bottom: calc(15 * (1px + (100vw - 430px) / 430));
    }
    .formTitle {
        margin-bottom: calc(54 * (1px + (100vw - 430px) / 430));
    }
    .info {
        font-size: calc(25 * (1px + (100vw - 430px) / 430));
        line-height: calc(30 * (1px + (100vw - 430px) / 430));
    }
    .infoMini {
        font-size: calc(20 * (1px + (100vw - 430px) / 430));
        line-height: calc(24 * (1px + (100vw - 430px) / 430));
    }
    .mobileTop {
        margin-bottom: calc(36 * (1px + (100vw - 430px) / 430));
    }
    .infoWrapper {
        margin-top: calc(40 * (1px + (100vw - 430px) / 430));
    }
    .icon {
        height: calc(41 * (1px + (100vw - 430px) / 430));
        width: calc(41 * (1px + (100vw - 430px) / 430));
    }
    .socialsWrapper {
        margin-top: calc(38 * (1px + (100vw - 430px) / 430));
    }
    .socialsWrapper > a {
        margin-right: calc(10 * (1px + (100vw - 430px) / 430));
    }
    .wrapper {
        margin-top: calc(93 * (1px + (100vw - 430px) / 430));
    }
}