.title {
    font-weight: 600;
    font-size: calc(19 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(9 * (1px + (100vw - 1530px) / 1530));
    margin-bottom: calc(55 * (1px + (100vw - 1530px) / 1530));
}
.link {
    color: #A0A0A0;
    font-size: calc(16 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(11 * (1px + (100vw - 1530px) / 1530));
    font-weight: 500;
}

.subtitle > div > img {
    margin-right: calc(3 * (1px + (100vw - 1530px) / 1530));
    width: calc(15 * (1px + (100vw - 1530px) / 1530));
    height: calc(20 * (1px + (100vw - 1530px) / 1530));
    position: relative;
    top: calc(-2 * (1px + (100vw - 1530px) / 1530));;
}