.headerBtn :global(a) {
    padding-top: calc(17.5 * (1px + (100vw - 1530px) / 1530));
    padding-bottom: calc(17.5 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(37 * (1px + (100vw - 1530px) / 1530));
    padding-left: calc(37 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(17 * (1px + (100vw - 1530px) / 1530));
    border: 1px solid #ffffff7a;
    transition: .3s;
}
.headerBtn:hover > a {
    color: #fff;
    background-color: transparent;
}
.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #0E0E0E;
    opacity: .8;
    z-index: 20;
}
.menuServicesTextWrapper {
    position: relative;
}
.menuServicesTextWrapper::before {
    height: 0;
    display: block;
    width: 1px;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: #fff;
    transition: .5s cubic-bezier(.76,.09,.23,.89);
    opacity: 0;
}
.menuServicesTextTitle {
    font-size: calc(20 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(20 * (1px + (100vw - 1530px) / 1530));
    margin-bottom: calc(10 * (1px + (100vw - 1530px) / 1530));
    font-weight: 600;
    opacity: 0;
    position: relative;
    right: -20%;
    transition: .4s cubic-bezier(.82,.31,.21,.72);
    transition-delay: 0;
}
.menuServicesText {
    opacity: 0;
    right: -20%;
    font-size: calc(14 * (1px + (100vw - 1530px) / 1530));
    transition: .4s cubic-bezier(.82,.31,.21,.72);
    position: relative;
    transition-delay: 0;
}
.active .menuServicesTextTitle {
    opacity: 1;
    right: 0;
    transition-delay: .5s;
}
.active .menuServicesText {
    opacity: .3;
    right: 0;
    transition-delay: .65s;
}
.servicesBlock {
    background: linear-gradient(180deg, rgba(37, 37, 37, 1) 0%, rgba(30, 30, 30, 1) 100%);
    z-index: 30;
    transition: .4s;
    padding-bottom: 0;
    padding-top: calc(161 * (1px + (100vw - 1530px) / 1530));
    top: 0%;
    transform: translateY(-100%);
    height: calc(484 * (1px + (100vw - 1530px) / 1530));
    overflow: hidden;
    border-bottom-left-radius: calc(20 * (1px + (100vw - 1530px) / 1530));
    border-bottom-right-radius: calc(20 * (1px + (100vw - 1530px) / 1530));
}
.servicesBlock > div {
    opacity: 0;
    transition: .15s;
}
.active .servicesBlock > div {
    opacity: 1;
}
.active .servicesBlock {
    transform: translateY(0);
}
.active .menuServicesTextWrapper::before {
    opacity: 1;
    height: calc(46 * (1px + (100vw - 1530px) / 1530));
    transition-delay: .4s;
}

.lavrWrapper {
    position: relative;
    top: calc(-15 * (1px + (100vw - 1530px) / 1530));
    right: calc(30 * (1px + (100vw - 1530px) / 1530));
}
.allServicesLink::before {
    content: "";
    opacity: 0;
    width: calc(10 * (1px + (100vw - 1530px) / 1530));
    height: calc(10 * (1px + (100vw - 1530px) / 1530));
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    transition: .3s;
    margin-right: calc(8 * (1px + (100vw - 1530px) / 1530));
}

.lavrWrapper > div > img:first-child,
.lavrWrapper > div > span,
.lavrWrapper > div > img:last-child {
    opacity: 0;
    position: relative;
    transition: 0.4s cubic-bezier(.76,.09,.23,.89);
}

.link {
    transition: .3s;
}
.link:hover {
    opacity: .8;
}

.active .lavrWrapper > div > img:first-child {
    opacity: 1;
    left: 0;
    transition-delay: .6s;
}
.active .lavrWrapper > div > span {
    opacity: 1;
    left: 0;
    transition-delay: .5s;
}
.active .lavrWrapper > div > img:last-child {
    opacity: 1;
    left: 0;
    transition-delay: .4s;
}


.active .allServicesLink::before {
    opacity: 1;
}
.cardsWrapper {
    margin-top: calc(48 * (1px + (100vw - 1530px) / 1530));
}

.cardsWrapper > a{
    transform: scale(0.95);
    opacity: 0;
    transition: .4s;
}

.active .cardsWrapper > a {
    opacity: 1;
    transform: scale(1);
    transition-delay: .4s;
}

.lang {
    border: 1px solid rgba(164, 164, 164, 0.29);    
    background: #14141461;
    margin-right: calc(4 * (1px + (100vw - 1530px) / 1530));
    border-radius: calc(10 * (1px + (100vw - 1530px) / 1530));
    font-size: calc(14 * (1px + (100vw - 1530px) / 1530));
    padding: calc(10 * (1px + (100vw - 1530px) / 1530));
    font-weight: 600;
    display: inline-block;
    transition: .3s;
}
.lang:hover {
    background-color: #ffffff52;
}
.mobileBtnContainer {
    margin-right: calc(-60 * (1px + (100vw - 1530px) / 1530));
}

.lang.active {
    border: 1px solid transparent;
    opacity: 1;
    backdrop-filter: blur(20px);
    background: rgba(72, 72, 72, 0.411);
}
.lang.active:hover {
    background-color: #ffffff52;
}
.menuBtn {
    width: calc(62 * (1px + (100vw - 430px) / 430));
    height: calc(59 * (1px + (100vw - 430px) / 430));
    backdrop-filter: blur(20px);
    align-items: center;
    background: #4f4f4f9d;
    border-radius: calc(10 * (1px + (100vw - 430px) / 430));
    display: none;
    transition: .3s;
}
.menuBtnLines,
.menuBtnLines::after {
    width: calc(27 * (1px + (100vw - 430px) / 430));
    height: calc(2 * (1px + (100vw - 430px) / 430));
    background-color: #D9D9D9;
    border-radius: calc(100 * (1px + (100vw - 430px) / 430));
    margin: 0 auto;
    position: relative;
    top: calc(-3 * (1px + (100vw - 430px) / 430));
    transition: .3s;
}
.menuBtnLines::after {
    content: "";
    display: block;
    position: relative;
    top: calc(7 * (1px + (100vw - 430px) / 430));
}
.order {
    transition: .2s;
}
.order:hover {
    opacity: .7;
}
@media (max-width: 767px) {
    .lang {
        padding-top: calc(21 * (1px + (100vw - 430px) / 430));
        padding-bottom: calc(21 * (1px + (100vw - 430px) / 430));
        padding-left: calc(19 * (1px + (100vw - 430px) / 430));
        padding-right: calc(19 * (1px + (100vw - 430px) / 430));
        font-size: calc(16 * (1px + (100vw - 430px) / 430));
        line-height: calc(17 * (1px + (100vw - 430px) / 430));
        border-radius: calc(10 * (1px + (100vw - 430px) / 430));
        margin-right: calc(5 * (1px + (100vw - 430px) / 430));
        backdrop-filter: blur(20px);
    }
    .mobileBtnContainer {
        margin-right: 0;
    }
    .menuBtn {
        display: flex;
    }

    .activeMobileBtn {
        background: #FFFFFF;
        backdrop-filter: blur(50px);
        transition: .3s;
    }

    .activeMobileBtn > .menuBtnLines,
    .activeMobileBtn > .menuBtnLines::after {
        background-color: #000;
        transition: .3s;
        top: 0;
    }
    .activeMobileBtn > .menuBtnLines {
        transform: rotate(45deg);
    }
    .activeMobileBtn > .menuBtnLines::after {
        transform: rotate(90deg);
        top: 0;
    }
    .mobileMenu {
        background: #0c0c0c;
        left: 0;
        z-index: 30;
        padding-top: 0;
        transition: height 0.4s ease;
        overflow-y: hidden;
        overflow-x: hidden;
        padding-top: calc(146 * (1px + (100vw - 430px) / 430));
        transform: translateY(-120vh);
        transition: transform 0.7s cubic-bezier(0.25, 1, 0.5, 1);;
        height: 100vh;
    }
    .mobileActive {
        overflow-x: hidden;
        overflow-y: scroll;
        z-index: 100;
    }

    .mobileActive .mobileMenuItem {
        opacity: 1;
    }
    .mobileMenuItem {
        margin-bottom: calc(40 * (1px + (100vw - 430px) / 430));
        opacity: 0;
        transition: .3s;
        transition-delay: .3s;
    }
    .mobileMenu.mobileMenuActive {
        overflow-y: visible;
        transform: translateY(0%);
        padding-bottom: calc(70 * (1px + (100vw - 430px) / 430));
        overflow-x: hidden;
        height: 100%;
    }
    .mobileMenu ul {
        margin-top: calc(50 * (1px + (100vw - 430px) / 430));
    }
    .mobileMenuSubtitle {
        color: #fff;
        opacity: .4;
        line-height: calc(17 * (1px + (100vw - 430px) / 430));
        margin-bottom: calc(36 * (1px + (100vw - 430px) / 430));
        margin-top: calc(170 * (1px + (100vw - 430px) / 430));
    }
    .mobileMenuItem:last-child {
        margin-bottom: 0;
    }
    .mobileMenuLink {
        font-weight: 600;
        font-size: calc(23 * (1px + (100vw - 430px) / 430));
        line-height: calc(17 * (1px + (100vw - 430px) / 430));
    }
    .menuMobileBtnsWrapper {
        margin-top: calc(67 * (1px + (100vw - 430px) / 430));
        position: relative;
    }
    .menuMobileBtnsWrapper > div:first-child{
        margin-bottom: calc(16 * (1px + (100vw - 430px) / 430));
    }
    .mobileMenuContacts {
        margin-top: calc(66 * (1px + (100vw - 430px) / 430));
        padding-bottom: calc(55 * (1px + (100vw - 430px) / 430));
    }
    .mobileMenuContacts  >div:first-child{
        margin-bottom: calc(40 * (1px + (100vw - 430px) / 430));
    }
    .mobileMenuContactsSubtitle {
        font-weight: 500;
        font-size: calc(16 * (1px + (100vw - 430px) / 430));
        line-height: calc(9 * (1px + (100vw - 430px) / 430));
        margin-bottom: calc(22 * (1px + (100vw - 430px) / 430));
    }
    .mobileMenuContactsInfo {
        font-weight: 500;
        font-size: calc(20 * (1px + (100vw - 430px) / 430));
        line-height: calc(9 * (1px + (100vw - 430px) / 430));
    }
    .mobileMenuItemSubitems {
        position: relative;
    }
    .mobileMenuItemSubitems::after {
       content: url("/icons/polygon.svg");
       width: calc(11 * (1px + (100vw - 430px) / 430));
       height: calc(9 * (1px + (100vw - 430px) / 430));
       position: absolute;
       left: calc(132 * (1px + (100vw - 430px) / 430));
       top: -3px;
    }
    .mobileMenuItemSubitems.activeSubitem::after {
        rotate: 180deg;
        top: 17px;
    }
    
    .accordion {
        width: 100%;
        border: none;
        transition: 0.3s;
        outline: none;
        text-align: left;
    }
    .mobileCubeContainer {
        right: 0%;
    }
    .cube {
        width: calc(245 * (1px + (100vw - 430px) / 430));
        height: calc(749 * (1px + (100vw - 430px) / 430));
    }
    .panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, margin-top 0.3s ease, padding-top 0.2s ease, padding-bottom 0.2s ease, opacity .3s, transform .3s;
        backdrop-filter: blur(150px);
        background: rgba(30, 30, 30, 0.66);
        border-radius: calc(20 * (1px + (100vw - 430px) / 430));
        padding-left: calc(29 * (1px + (100vw - 430px) / 430));
        padding-right: calc(29 * (1px + (100vw - 430px) / 430));
        padding-bottom: 0;
        padding-top: 0;
        border: none;
        margin-top: 0;
        opacity: 0;
        transform: scale(0.95);
    }
    .activeSubitem > .panel {
        max-height: calc(666 * (1px + (100vw - 430px) / 430));
        padding-bottom: calc(40 * (1px + (100vw - 430px) / 430));
        padding-top: calc(40 * (1px + (100vw - 430px) / 430));
        border: 1px solid #FFFFFF12;
        margin-top: calc(30 * (1px + (100vw - 430px) / 430));
        opacity: 1;
        transform: scale(1);
    }

    .activeSubitem .panelLink {
        opacity: 1;
        transform: scale(1);
    }

    .activeSubitem .panelLink:nth-child(2) {
        transition-delay: .1s;
        transform: scale(1);
    } 
    .activeSubitem .panelLink:nth-child(3) {
        transition-delay: .2s;
        transform: scale(1);
    } 
    .activeSubitem .panelLink:nth-child(4) {
        transition-delay: .3s;
        transform: scale(1);
    } 
    .panelLink {
        display: block;
        padding-bottom: calc(31 * (1px + (100vw - 430px) / 430));
        border-bottom: 1px solid rgba(255, 255, 255, 0.26);
        margin-bottom: calc(31 * (1px + (100vw - 430px) / 430));
        opacity: 0;
        transition: .3s;
        transform: scale(0.97);
    }
    .panelLink:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }
    .panelInfo {
        margin-top: calc(30 * (1px + (100vw - 430px) / 430));
    }
    .panelTitle {
        font-weight: 600;
        font-size: calc(17 * (1px + (100vw - 430px) / 430));
        line-height: calc(20 * (1px + (100vw - 430px) / 430));
    }
    .panelText {
        margin-top: calc(7 * (1px + (100vw - 430px) / 430));
        font-weight: 600;
        opacity: .5;
        font-size: calc(15 * (1px + (100vw - 430px) / 430));
        line-height: calc(20 * (1px + (100vw - 430px) / 430));
    }

    .lang:hover {
        background: transparent;
    }
    .logoMobile{
        box-shadow: 0px -1px 100px 12px rgba(34, 60, 80, 0.35);
        border-radius: calc(10 * (1px + (100vw - 430px) / 430));
    }
}

.mobileMenuActive {
    overflow: auto;
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}
