.container {
    display: flex;
    align-items: center;
    margin-right: calc(-29 * (1px + (100vw - 1530px) / 1530));
    margin-bottom: calc(-29 * (1px + (100vw - 1530px) / 1530));
}

.imageLeft,
.imageRight {
    width: calc(87 * (1px + (100vw - 1530px) / 1530));
    height: calc(116 * (1px + (100vw - 1530px) / 1530));
}

.imageLeft {
    margin-right: calc(-25 * (1px + (100vw - 1530px) / 1530));
}
.imageRight {
    margin-left: calc(-25 * (1px + (100vw - 1530px) / 1530));
}

.imageLeft[data-transparent="true"],
.imageRight[data-transparent="true"] {
    width: calc(27 * (1px + (100vw - 1530px) / 1530));
    height: calc(56 * (1px + (100vw - 1530px) / 1530));
    margin: 0;
}

.text {
    text-align: center;
    font-weight: 600;
    max-width: calc(201 * (1px + (100vw - 1530px) / 1530));
    font-size: calc(13 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(19 * (1px + (100vw - 1530px) / 1530));
}

@media (max-width: 767px) {
    .text {
        max-width: calc(170 * (1px + (100vw - 430px) / 430));
        font-size: calc(13 * (1px + (100vw - 430px) / 430));
        line-height: calc(19 * (1px + (100vw - 430px) / 430));
    }
    .imageLeft,
    .imageRight {
        width: calc(87 * (1px + (100vw - 430px) / 430));
        height: calc(116 * (1px + (100vw - 430px) / 430));
    }
    
    .imageLeft[data-transparent="true"],
    .imageRight[data-transparent="true"] {
        width: calc(27 * (1px + (100vw - 430px) / 430));
        height: calc(56 * (1px + (100vw - 430px) / 430));
    }
    .container {
        margin-top: calc(100 * (1px + (100vw - 430px) / 430));
        margin-left: calc(-30 * (1px + (100vw - 430px) / 430));
    }
}