/* Затемнение фона */
.modalOverlay {
    position: fixed; /* Теперь фиксированное положение работает! */
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    /* backdrop-filter: blur(4px); */
    z-index: 1000; /* Убеждаемся, что модалка поверх всего */
    display: none;
}
.active .modalOverlay {
    display: block;
}
.spinner {
    left: 19%;
    top: 46%;
}
.close {
    position: absolute;
    right: calc(28 * (1px + (100vw - 1530px) / 1530));
    top: calc(25 * (1px + (100vw - 1530px) / 1530));
}
.close img{
    width: calc(17 * (1px + (100vw - 1530px) / 1530));
    cursor: pointer;
    height: calc(17 * (1px + (100vw - 1530px) / 1530));
}

/* Окно */
.modalContent {
    background: #1F1F1F;
    padding: calc(10 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(44 * (1px + (100vw - 1530px) / 1530));
    border-radius: calc(30 * (1px + (100vw - 1530px) / 1530));
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    width: 57.5%;
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%) scale(0.8) ;
    opacity: 0;
    justify-content: space-between;
    transition: .3s;
    z-index: -1;
}

.active .modalContent {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) ;
    z-index: 2000;
}

.subtitle {
    color: #00EAFF;
    font-weight: 600;
    font-size: calc(14 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(20 * (1px + (100vw - 1530px) / 1530));
}
.title {
    font-weight: 600;
    font-size: calc(24 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(40 * (1px + (100vw - 1530px) / 1530));
    margin-bottom: calc(44 * (1px + (100vw - 1530px) / 1530));
}
.button {
    color: #0E0E0E;
    font-weight: 600;
    font-size: calc(16 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(9 * (1px + (100vw - 1530px) / 1530));
    text-align: center;
    padding: calc(33 * (1px + (100vw - 1530px) / 1530)) calc(40 * (1px + (100vw - 1530px) / 1530));
    background-color: #fff;
    border-radius: calc(100 * (1px + (100vw - 1530px) / 1530));
    margin-top: calc(43 * (1px + (100vw - 1530px) / 1530));
    margin-bottom: calc(31 * (1px + (100vw - 1530px) / 1530));
}
.policy {
    color: #666666;
    font-weight: 600;
    font-size: calc(12 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(17 * (1px + (100vw - 1530px) / 1530));
    max-width: calc(282 * (1px + (100vw - 1530px) / 1530));
}
.form {
    width: 46%;
    padding-top: calc(52 * (1px + (100vw - 1530px) / 1530));
}
.imgBlock {
    background: #303030;
    width: 46%;
    border-radius: calc(23 * (1px + (100vw - 1530px) / 1530));
}
.img {
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .imgBlock {
        display: none;
    }
    .form {
        width: 100%;
    }
    .subtitle {
        font-size: calc(14 * (1px + (100vw - 430px) / 430));
        line-height: calc(20 * (1px + (100vw - 430px) / 430));
    }
    .title {
        font-size: calc(24 * (1px + (100vw - 430px) / 430));
        line-height: calc(40 * (1px + (100vw - 430px) / 430));
        margin-bottom: calc(54 * (1px + (100vw - 430px) / 430));
    }
    .modalContent {
        width: 90%;
        padding: calc(50 * (1px + (100vw - 430px) / 430)) calc(35 * (1px + (100vw - 430px) / 430));
        border-radius: calc(30 * (1px + (100vw - 430px) / 430));
        padding-bottom: calc(16 * (1px + (100vw - 430px) / 430))
    }
    .button {
        font-size: calc(16 * (1px + (100vw - 430px) / 430));
        line-height: calc(9 * (1px + (100vw - 430px) / 430));
        padding: calc(33 * (1px + (100vw - 430px) / 430)) calc(40 * (1px + (100vw - 430px) / 430));
        border-radius: calc(100 * (1px + (100vw - 430px) / 430));
        margin-top: calc(43 * (1px + (100vw - 430px) / 430));
        margin-bottom: calc(31 * (1px + (100vw - 430px) / 430));
    }
    .policy {
        font-size: calc(12 * (1px + (100vw - 430px) / 430));
        line-height: calc(17 * (1px + (100vw - 430px) / 430));
        max-width: calc(282 * (1px + (100vw - 430px) / 430));
    }
    .spinner {
        left: 22%;
    }
    .close {
        position: absolute;
        right: calc(28 * (1px + (100vw - 430px) / 430));
        top: calc(25 * (1px + (100vw - 430px) / 430));
    }
    .close img{
        width: calc(17 * (1px + (100vw - 430px) / 430));
        height: calc(17 * (1px + (100vw - 430px) / 430));
    }
}