.subtitle > div > img {
    margin-left: calc(4 * (1px + (100vw - 1530px) / 1530));
    width: calc(15 * (1px + (100vw - 1530px) / 1530));
    margin-right: 0;
    height: calc(20 * (1px + (100vw - 1530px) / 1530));
    position: relative;
    top: calc(-2 * (1px + (100vw - 1530px) / 1530));;
}
.left {
    border-left-width: 1px;
    border-left-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(0deg, #060606 -3.71%, #424242 32.07%, #0E0E0E 100%);
}
.leftTopBlock {
    padding-bottom: calc(77 * (1px + (100vw - 1530px) / 1530));
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #0E0E0E 0%, #424242 100%);
}
.leftTopBlock :global(.advantages-text) {
    max-width: calc(471 * (1px + (100vw - 1530px) / 1530));
}
.projectsNumber {
    font-weight: 600;
    font-size: calc(380 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(373 * (1px + (100vw - 1530px) / 1530));
    color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, #FFFFFF 35%, rgba(25, 25, 25, 0) 100%);
}
.projectsNumberBlock {
    padding-top: calc(52 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(48 * (1px + (100vw - 1530px) / 1530));;
}
.period {
    background-color: rgba(33, 33, 33, 0.74);
    backdrop-filter: blur(60px);
    border-radius: calc(100 * (1px + (100vw - 1530px) / 1530));
    padding-top: calc(14 * (1px + (100vw - 1530px) / 1530));
    padding-bottom: calc(14 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(27 * (1px + (100vw - 1530px) / 1530));
    padding-left: calc(27 * (1px + (100vw - 1530px) / 1530));
}

.vint {
    z-index: 0;
    right: calc(62 * (1px + (100vw - 1530px) / 1530));
    bottom: 0;
}

.servicesText {
    margin-top: calc(41 * (1px + (100vw - 1530px) / 1530));
    font-size: calc(15 * (1px + (100vw - 1530px) / 1530));
}

.icon {
    width: calc(10 * (1px + (100vw - 1530px) / 1530));
    height: calc(10 * (1px + (100vw - 1530px) / 1530));
    margin-left: calc(5 * (1px + (100vw - 1530px) / 1530));
}

@media (max-width: 767px) {
    .servicesText {
        margin-top: calc(73 * (1px + (100vw - 430px) / 430));
        font-size: calc(17 * (1px + (100vw - 430px) / 430));
        line-height: calc(19 * (1px + (100vw - 430px) / 430));
    }
    .icon {
        width: calc(10 * (1px + (100vw - 430px) / 430));
        height: calc(10 * (1px + (100vw - 430px) / 430));
        margin-left: calc(7 * (1px + (100vw - 430px) / 430));
    }
    .projectsNumber {
        font-size: calc(210 * (1px + (100vw - 430px) / 430));
        line-height: calc(250 * (1px + (100vw - 430px) / 430));
    }
    .wrapper {
        background: linear-gradient(180deg, #000000 0%, #0E0E0E 100%);
        padding-top: calc(100 * (1px + (100vw - 430px) / 430));
    }
    .period {
        border-radius: calc(100 * (1px + (100vw - 430px) / 430));
        padding-top: calc(14 * (1px + (100vw - 430px) / 430));
        padding-bottom: calc(14 * (1px + (100vw - 430px) / 430));
        padding-right: calc(27 * (1px + (100vw - 430px) / 430));
        padding-left: calc(27 * (1px + (100vw - 430px) / 430));
        font-size: calc(16 * (1px + (100vw - 430px) / 430));
        line-height: calc(22 * (1px + (100vw - 430px) / 430));
        font-weight: 600;
    }
    .projectsNumberMini {
        font-size: calc(50 * (1px + (100vw - 430px) / 430));
        line-height: calc(92 * (1px + (100vw - 430px) / 430));
    }
    .mobileTop {
        padding-bottom: calc(43 * (1px + (100vw - 430px) / 430));
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg, #060606 0%, #424242 61.11%, #0E0E0E 100%);
    }
    .vint {
        opacity: .2;
        width: calc(910 * (1px + (100vw - 430px) / 430));
        height: calc(726 * (1px + (100vw - 430px) / 430));
        top: 0;
        left: calc(-264 * (1px + (100vw - 430px) / 430));
    }

    .vint > img {
        width: calc(910 * (1px + (100vw - 430px) / 430));
        height: calc(726 * (1px + (100vw - 430px) / 430));
    }
    .subtitle > .advantages-text > div:first-child {
        margin-bottom: calc(60 * (1px + (100vw - 430px) / 430));
    }
    .mobileLeft {
        border-image-source: linear-gradient(0deg, #0E0E0E 0%, #424242 100%);
        border-right-style: solid;
        border-right-width: 1px;
        border-image-slice: 1;
        padding-right: calc(19 * (1px + (100vw - 430px) / 430));
    }
    .mobileRight {
        padding-left: calc(19 * (1px + (100vw - 430px) / 430));
    }
    .periodMin {
        font-size: calc(13 * (1px + (100vw - 430px) / 430));
        font-weight: 600;
    }
}