.card {
    border: 1px solid #FFFFFF12;
    background: #4747474D;
    backdrop-filter: blur(150px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: calc(20 * (1px + (100vw - 1530px) / 1530));
    padding: calc(33 * (1px + (100vw - 1530px) / 1530));
    height: calc(186 * (1px + (100vw - 1530px) / 1530));
    width: calc(356 * (1px + (100vw - 1530px) / 1530));
}
.icon {
    transform: rotate(-90deg);
    width: calc(16 * (1px + (100vw - 1530px) / 1530));
    height: calc(16 * (1px + (100vw - 1530px) / 1530));
}
.title {
    font-weight: 600;
    line-height: calc(20 * (1px + (100vw - 1530px) / 1530));
    font-size: calc(17 * (1px + (100vw - 1530px) / 1530));
}
.text {
    opacity: 0.5;
    font-weight: 600;
    line-height: calc(20 * (1px + (100vw - 1530px) / 1530));
    font-size: calc(13 * (1px + (100vw - 1530px) / 1530));;
}