.title {
    margin-bottom: calc(58 * (1px + (100vw - 1530px) / 1530));
}
.wrapper {
    margin-top: calc(158 * (1px + (100vw - 1530px) / 1530));
}
.text {
    font-size: calc(15 * (1px + (100vw - 1530px) / 1530));
    font-weight: 600;
    line-height: calc(21 * (1px + (100vw - 1530px) / 1530));
    text-align: right;
    opacity: .4;
    max-width: calc(216 * (1px + (100vw - 1530px) / 1530));
    margin-right: calc(17 * (1px + (100vw - 1530px) / 1530));
}
.cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}
.cards::before {
    content: "";
    display: block;
    border: 1px solid #FFFFFF33;
    width: 100%;
    height: 1px;
    position: absolute;
    top: calc(20 * (1px + (100vw - 1530px) / 1530));
}
.period {
    font-weight: 600;
    font-size: calc(15 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(9 * (1px + (100vw - 1530px) / 1530));
    text-align: center;
    background: #FFFFFF26;
    backdrop-filter: blur(50px);
    padding-left: calc(25 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(25 * (1px + (100vw - 1530px) / 1530));
    padding-top: calc(18 * (1px + (100vw - 1530px) / 1530));
    padding-bottom: calc(18 * (1px + (100vw - 1530px) / 1530));
    border-radius: calc(100 * (1px + (100vw - 1530px) / 1530));
    display: inline-block;
    margin-top: calc(28 * (1px + (100vw - 1530px) / 1530));
}
.card:first-child > img {
    width: calc(700 * (1px + (100vw - 1530px) / 1530));
    height: calc(304 * (1px + (100vw - 1530px) / 1530));
    position: relative;
    top: calc(-13 * (1px + (100vw - 1530px) / 1530));
}
.card:nth-child(2) > img {
    position: relative;
    top: calc(-8 * (1px + (100vw - 1530px) / 1530));
    width: calc(279 * (1px + (100vw - 1530px) / 1530));
    height: calc(382 * (1px + (100vw - 1530px) / 1530));
}
.card:nth-child(3) > img {
    width: calc(456 * (1px + (100vw - 1530px) / 1530));
    height: calc(320 * (1px + (100vw - 1530px) / 1530));
}

@media (max-width: 767px) {
    .card:nth-child(2) {
        display: none;
    }
    .card:first-child {
        margin-bottom: calc(36 * (1px + (100vw - 430px) / 430));
    }
    .title {
        margin-bottom: calc(46 * (1px + (100vw - 430px) / 430));
    }
    .period {
        font-size: calc(15 * (1px + (100vw - 430px) / 430));
        line-height: calc(9 * (1px + (100vw - 430px) / 430));
        padding-left: calc(25 * (1px + (100vw - 430px) / 430));
        padding-right: calc(25 * (1px + (100vw - 430px) / 430));
        padding-top: calc(18 * (1px + (100vw - 430px) / 430));
        padding-bottom: calc(18 * (1px + (100vw - 430px) / 430));
        border-radius: calc(100 * (1px + (100vw - 430px) / 430));
        margin-top: calc(28 * (1px + (100vw - 430px) / 430));
    }
    .cards {
        display: block;
    }
    .cards::before {
        display: none;
    }
    .wrapper {
        margin-top: calc(93 * (1px + (100vw - 430px) / 430));
    }
    .card:first-child > img {
        width: calc(384 * (1px + (100vw - 430px) / 430));
        height: calc(166 * (1px + (100vw - 430px) / 430));
    }
    .card:nth-child(3) > img {
        width: calc(384 * (1px + (100vw - 430px) / 430));
        height: calc(270 * (1px + (100vw - 430px) / 430));
    }
}