@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: var(--font-manrope), sans-serif;
  --fluid-font-size: 16;
  --fluid-spacing: 30;
}

body {
  @apply bg-customBlack text-white;
}

.main-title > h1{
  font-size: calc(52 * (1px + (100vw - 1530px) / 1530));
  line-height: calc(50 * (1px + (100vw - 1530px) / 1530));
}
.header-btn > a {
  padding-top: calc(16 * (1px + (100vw - 1530px) / 1530));
  padding-bottom: calc(16 * (1px + (100vw - 1530px) / 1530));
}