@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: var(--font-manrope), sans-serif;
  --fluid-font-size: 16;
  --fluid-spacing: 30;
}
html {
  scroll-behavior: smooth;
}
body {
  @apply bg-customBlack text-white;
}

header {
  padding-top: calc(25 * (1px + (100vw - 1530px) / 1530));
}

.main-title > h1{
  font-size: calc(52 * (1px + (100vw - 1530px) / 1530));
  line-height: calc(50 * (1px + (100vw - 1530px) / 1530));
}
.header-btn > a {
  padding-top: calc(16 * (1px + (100vw - 1530px) / 1530));
  padding-bottom: calc(16 * (1px + (100vw - 1530px) / 1530));
}

/* Стили для вебкитовских браузеров (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px; /* Тонкий скроллбар */
}

::-webkit-scrollbar-track {
  background: #111; /* Темный фон */
}

::-webkit-scrollbar-thumb {
  background: #444; /* Стильный серый */
  border-radius: 3px; /* Округление */
}

::-webkit-scrollbar-thumb:hover {
  background: #666; /* Чуть светлее при наведении */
}



@media (max-width: 767px) {
  header {
    padding-top: calc(28 * (1px + (100vw - 430px) / 430));
  }
  .px-fluid {
      padding: 0;
  }
  .mobile-container {
    padding-left: calc(20 * (1px + (100vw - 430px) / 430));
    padding-right: calc(20 * (1px + (100vw - 430px) / 430));
  }
  .mobile-container-card {
    padding-left: calc(17 * (1px + (100vw - 430px) / 430));
    padding-right: calc(17 * (1px + (100vw - 430px) / 430));
  }
  .main-title > h1{
    font-weight: 600;
    font-size: calc(36 * (1px + (100vw - 430px) / 430));
    line-height: calc(42 * (1px + (100vw - 430px) / 430));
  }
  .main-title > .subtitle {
    font-size: calc(16 * (1px + (100vw - 430px) / 430));
    line-height: calc(20 * (1px + (100vw - 430px) / 430));
    margin-bottom: calc(28 * (1px + (100vw - 430px) / 430)) !important;
  }
  .main-title > .subtitle > img {
    width: calc(14 * (1px + (100vw - 430px) / 430));
    height: calc(14 * (1px + (100vw - 430px) / 430));
    margin-right: calc(13 * (1px + (100vw - 430px) / 430));
  }
  .text-fluid {
    font-size: calc(16 * (1px + (100vw - 430px) / 430));
  }
  .mb-fluid {
    margin-bottom: calc(30 * (1px + (100vw - 430px) / 430));
  }
  header .mobile-container {
      position: fixed !important;
      top: calc(0 * (1px + (100vw - 430px) / 430));;
      z-index: 30;
      width: 100%;
      padding-top: calc(20 * (1px + (100vw - 430px) / 430));;
  }
  .swiper-horizontal {
    margin: 0 -6% !important;
    padding: 0 6% !important;
  }
}