.wrapper {
    background-image: url("/sipuni.jpg");
}

@media (max-width: 767px) {
    .wrapper {
        background-image: url("/sipuni-mobile.jpg");
    }
    .title > div > h1{
        max-width: 65%;
    }
}