.wrapper {
    background-image: url("/dev-bg.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content {
    width: calc(736 * (1px + (100vw - 1530px) / 1530));
    margin: auto;
}
.footer {
    margin-top: calc(100 * (1px + (100vw - 1530px) / 1530));
}
.subtitle {
    font-weight: 600;
    font-size: calc(16 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(20 * (1px + (100vw - 1530px) / 1530));
    text-align: center;
    opacity: .5;
}
.title {
    font-weight: 600;
    font-size: calc(64 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(50 * (1px + (100vw - 1530px) / 1530));
    text-align: center;
    margin-top: calc(24 * (1px + (100vw - 1530px) / 1530));
    margin-bottom: calc(68 * (1px + (100vw - 1530px) / 1530));
}
.link {
    display: inline-block;
    font-weight: 600;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(17 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(9 * (1px + (100vw - 1530px) / 1530));
    text-align: center;
    color: #0E0E0E;
    background-color: #fff;
    border-radius: calc(100 * (1px + (100vw - 1530px) / 1530));
    padding: calc(33 * (1px + (100vw - 1530px) / 1530)) calc(40 * (1px + (100vw - 1530px) / 1530));
}

@media (max-width: 767px) {
    .content {
        width: calc(382 * (1px + (100vw - 430px) / 430));
    }
    .subtitle {
        font-size: calc(16 * (1px + (100vw - 430px) / 430));
        text-align: center;
        margin: auto;
        max-width: calc(150 * (1px + (100vw - 430px) / 430));
        line-height: calc(20 * (1px + (100vw - 430px) / 430));
    }
    .title {
        font-size: calc(45 * (1px + (100vw - 430px) / 430));
        line-height: calc(50 * (1px + (100vw - 430px) / 430));
        margin-top: calc(24 * (1px + (100vw - 430px) / 430));
        margin-bottom: calc(50 * (1px + (100vw - 430px) / 430));
    }
    .link {
        font-size: calc(17 * (1px + (100vw - 430px) / 430));
        line-height: calc(9 * (1px + (100vw - 430px) / 430));
        border-radius: calc(100 * (1px + (100vw - 430px) / 430));
        padding: calc(33 * (1px + (100vw - 430px) / 1530)) calc(40 * (1px + (100vw - 430px) / 430));
    }
}