.main {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 41.5%, rgba(0, 0, 0, 0.8) 100%);
    padding-bottom: calc(55 * (1px + (100vw - 1530px) / 1530));
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 41.5%, rgba(0, 0, 0, 0.8) 100%);
    z-index: 1;
    top: 0;
}

.container {
    margin-top: calc(240 * (1px + (100vw - 1530px) / 1530));
}
.text {
    color: white;
    opacity: .7;
    font-weight: 600;
    font-size: calc(16 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(22 * (1px + (100vw - 1530px) / 1530));
    margin-top: calc(46 * (1px + (100vw - 1530px) / 1530));
    max-width: calc(397 * (1px + (100vw - 1530px) / 1530));
}
.btn {
    margin-top: calc(55 * (1px + (100vw - 1530px) / 1530));
    margin-bottom: calc(55 * (1px + (100vw - 1530px) / 1530));
}
.elipse {
    width: calc(1215 * (1px + (100vw - 1530px) / 1530));
    height: calc(1215 * (1px + (100vw - 1530px) / 1530));
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    background: transparent;
    position: absolute;
    bottom: -35%;
    right: -15%;
    z-index: 0;
}
.robot > img {
    width: calc(1530 * (1px + (100vw - 1530px) / 1530));
    height: calc(1139 * (1px + (100vw - 1530px) / 1530));
}
.robot {
    right: 0;
}

@media (max-width: 767px) {
    .main {
        min-height: 100vh;
    display: flex;
    flex-direction: column;
    }
    .text {
        font-size: calc(15 * (1px + (100vw - 430px) / 430));
        line-height: calc(22 * (1px + (100vw - 430px) / 430));
        margin-top: calc(34 * (1px + (100vw - 430px) / 430));
        max-width: 100%;
    }
    .btn {
        margin-top: calc(44 * (1px + (100vw - 430px) / 430));
    }
    .elipse {
        display: none;
    }
    .robot {
        transform: translateX(50%);
        width: calc(430 * (1px + (100vw - 430px) / 430));
        right: 75%;
    }
    .robot > img {
        height: auto;
        scale: 1.5;
    }
    .container {
        margin-top: calc(100 * (1px + (100vw - 430px) / 430));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        flex-grow: 1;
    }
}