.wrapper {
    margin-top: calc(157 * (1px + (100vw - 1530px) / 1530));
    margin-bottom: calc(187 * (1px + (100vw - 1530px) / 1530));
}
.text {
    opacity: .4;
    font-weight: 600;
    font-size: calc(15 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(21 * (1px + (100vw - 1530px) / 1530));
    max-width: calc(333 * (1px + (100vw - 1530px) / 1530));
    margin-right: calc(17 * (1px + (100vw - 1530px) / 1530));
    text-align: right;
}
.cloud {
    width: calc(24 * (1px + (100vw - 1530px) / 1530));
    height: calc(22 * (1px + (100vw - 1530px) / 1530));
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.iconWrapper {
    border: 1px solid #00EAFF;
    border-radius: 50%;
    width: calc(71 * (1px + (100vw - 1530px) / 1530));
    height: calc(71 * (1px + (100vw - 1530px) / 1530));
}
.title {
    margin-bottom: calc(50 * (1px + (100vw - 1530px) / 1530));
}
.cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.card {
    width: calc(353 * (1px + (100vw - 1530px) / 1530));
    border: 1px solid #FFFFFF1A;
    padding-top: calc(8 * (1px + (100vw - 1530px) / 1530));
    padding-bottom: calc(8 * (1px + (100vw - 1530px) / 1530));
    padding-left: calc(8 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(8 * (1px + (100vw - 1530px) / 1530));
    background: #161616;
    border-radius: calc(30 * (1px + (100vw - 1530px) / 1530));
}
.card:last-child {
    width: calc(725 * (1px + (100vw - 1530px) / 1530));
    display: flex;
    justify-content: space-between;
}
.cardTitle {
    font-weight: 600;
    font-size: calc(14 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(18 * (1px + (100vw - 1530px) / 1530));
    opacity: .5;
    margin-bottom: calc(10 * (1px + (100vw - 1530px) / 1530));
}
.cardContent {
    padding-left: calc(25 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(25 * (1px + (100vw - 1530px) / 1530));
    padding-bottom: calc(16 * (1px + (100vw - 1530px) / 1530));
}
.cardText {
    opacity: .8;
    font-weight: 500;
    font-size: calc(14 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(18 * (1px + (100vw - 1530px) / 1530));
}
.cardText > p:first-child{
    display: inline-block;
    margin-bottom: calc(14 * (1px + (100vw - 1530px) / 1530));
}
.img {
    width: 100%;
    margin-bottom: calc(20 * (1px + (100vw - 1530px) / 1530));
}
.img > img {
    width: 100%;
}
.cardLeft {
    max-width: calc(353 * (1px + (100vw - 1530px) / 1530));
}
.cardLeft .img {
    margin-bottom: 0;
}
.cardRight {
    max-width: calc(337 * (1px + (100vw - 1530px) / 1530));
}