.wrapper {
    margin-top: calc(96 * (1px + (100vw - 1530px) / 1530));
}
.text {
    max-width: calc(300 * (1px + (100vw - 1530px) / 1530));
}
.cards {
    display: flex;
    justify-content: space-between;
    background: url("/web-rock.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    column-gap: calc(18 * (1px + (100vw - 1530px) / 1530));
    padding-bottom: calc(131 * (1px + (100vw - 1530px) / 1530));
}
.card {
    border: 1px solid #FFFFFF1A;
    border-radius: calc(30 * (1px + (100vw - 1530px) / 1530));
}
.cardTop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
    height: calc(291 * (1px + (100vw - 1530px) / 1530));
    padding-left: calc(35 * (1px + (100vw - 1530px) / 1530));
    padding-bottom: calc(27 * (1px + (100vw - 1530px) / 1530));
    padding-top: calc(28 * (1px + (100vw - 1530px) / 1530));
    backdrop-filter: blur(200px);
    background: 
    linear-gradient(0deg, rgba(43, 43, 43, 0.26), rgba(43, 43, 43, 0.26)), 
    linear-gradient(180deg, #00292D 0%, rgba(0, 0, 0, 0) 100%);
    position: relative;
}
.cardTop > img {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(408 * (1px + (100vw - 1530px) / 1530));
    height: calc(234 * (1px + (100vw - 1530px) / 1530));
}
.period {
    font-weight: 600;
    font-size: calc(13 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(19 * (1px + (100vw - 1530px) / 1530));
    color: #fff;
    padding-top: calc(15 * (1px + (100vw - 1530px) / 1530));
    padding-bottom: calc(15 * (1px + (100vw - 1530px) / 1530));
    padding-left: calc(27 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(27 * (1px + (100vw - 1530px) / 1530));
    background: rgba(37, 48, 49, 0.83);
    backdrop-filter: blur(20px);
    border-radius: calc(100 * (1px + (100vw - 1530px) / 1530));
    display: inline-block;
    flex-grow: 0;
    max-width: fit-content;
    align-self: flex-start;
}
.period >span {
    opacity: .8;
}
.subtitle {
    font-weight: 600;
    font-size: calc(14 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(22 * (1px + (100vw - 1530px) / 1530));
    opacity: .3;
}
.title {
    font-weight: 600;
    font-size: calc(18 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(32 * (1px + (100vw - 1530px) / 1530));
}
.cardTopBackground {
    background: 
    url("/hosting.png");
    background-size: cover; /* Или 'contain', если не хочешь обрезки */
    background-position: center;
    background-repeat: no-repeat;
}
.cardBottom {
    background: url("/web-laptop.png");
    background-size: cover; /* Или 'contain', если не хочешь обрезки */
    background-position: center;
    background-repeat: no-repeat;
}

.cardOrder {
    width: 49%;
    height: calc(291 * (1px + (100vw - 1530px) / 1530));
    padding-left: calc(35 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(35 * (1px + (100vw - 1530px) / 1530));
    padding-bottom: calc(27 * (1px + (100vw - 1530px) / 1530));
    padding-top: calc(28 * (1px + (100vw - 1530px) / 1530));
}
.cardOrderTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(45 * (1px + (100vw - 1530px) / 1530));
}
.cardOrderBottom {
    padding-top: calc(33 * (1px + (100vw - 1530px) / 1530));
    border-top: 1px solid #FFFFFF33;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flower {
    width: calc(43 * (1px + (100vw - 1530px) / 1530));
    height: calc(43 * (1px + (100vw - 1530px) / 1530));
}
.cardOrderSubtitle {
    color: #00EAFF;
    font-family: Manrope;
    font-weight: 600;
    font-size: calc(14 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(22 * (1px + (100vw - 1530px) / 1530));
}
.cardText {
    font-weight: 600;
    font-size: calc(15 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(22 * (1px + (100vw - 1530px) / 1530));
    opacity: .7;
    max-width: calc(265 * (1px + (100vw - 1530px) / 1530));
}
.btn {
    padding: calc(48 * (1px + (100vw - 1530px) / 1530));
    right: calc(40 * (1px + (100vw - 1530px) / 1530));
    bottom: calc(40 * (1px + (100vw - 1530px) / 1530));
    cursor: pointer;
    display: inline-block;
    transition: .3s;
    border: 1px solid #fff3;
}
.btn:hover {
    transform: scale(0.95);
    background-color: transparent;
}
.btn:hover .arrow {
    transform: scale(1.05);
    filter: brightness(1000);
}
.arrow {
    transition: .3s;
    width: calc(13 * (1px + (100vw - 1530px) / 1530));
    height: calc(13 * (1px + (100vw - 1530px) / 1530));
}

.cardLong {
    height: calc(603 * (1px + (100vw - 1530px) / 1530));
    width: 32.4%;
    backdrop-filter: blur(200px);
    border: 1px solid #FFFFFF1A;
    background: #2B2B2B42;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: calc(30 * (1px + (100vw - 1530px) / 1530));
}
.cardLongImg {
    padding-left: calc(10 * (1px + (100vw - 1530px) / 1530));
    padding-top: calc(8 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(10 * (1px + (100vw - 1530px) / 1530));
    margin-bottom: calc(38 * (1px + (100vw - 1530px) / 1530));;
}
.cardLongImg > img {
    height: calc(367 * (1px + (100vw - 1530px) / 1530));
    width: 100%;
}
.cardLongContent {
    padding-bottom: calc(46 * (1px + (100vw - 1530px) / 1530));
    padding-left: calc(46 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(70 * (1px + (100vw - 1530px) / 1530));
}
.cardLongText {
    margin-top: calc(19 * (1px + (100vw - 1530px) / 1530));
    max-width: calc(362 * (1px + (100vw - 1530px) / 1530));
    font-weight: 600;
    font-size: calc(15 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(22 * (1px + (100vw - 1530px) / 1530));
    opacity: .7;
}
.miniCards {
    width: 67.6%;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    row-gap: calc(21 * (1px + (100vw - 1530px) / 1530));
    column-gap: calc(19 * (1px + (100vw - 1530px) / 1530));
}

@media (max-width: 767px) {
    .card {
        border-radius: calc(30 * (1px + (100vw - 430px) / 430));
    }
    .cardLong {
        display: none;
    }
    .miniCards {
        width: 100%;
    }
    .cardOrder,
    .cardTop {
        width: 100%;
        height: calc(291 * (1px + (100vw - 430px) / 430));
    }
    .cardTop {
        padding-left: calc(35 * (1px + (100vw - 430px) / 430));
        padding-bottom: calc(27 * (1px + (100vw - 430px) / 430));
        padding-top: calc(28 * (1px + (100vw - 430px) / 430));
    }
    .period {
        font-size: calc(13 * (1px + (100vw - 430px) / 430));
        line-height: calc(19 * (1px + (100vw - 430px) / 430));
        padding-top: calc(15 * (1px + (100vw - 430px) / 430));
        padding-bottom: calc(15 * (1px + (100vw - 430px) / 430));
        padding-left: calc(27 * (1px + (100vw - 430px) / 430));
        padding-right: calc(27 * (1px + (100vw - 430px) / 430));
        border-radius: calc(100 * (1px + (100vw - 430px) / 430));
    }
    .subtitle {
        font-size: calc(14 * (1px + (100vw - 430px) / 430));
        line-height: calc(22 * (1px + (100vw - 430px) / 430));
    }
    .title {
        font-size: calc(18 * (1px + (100vw - 430px) / 430));
        line-height: calc(32 * (1px + (100vw - 430px) / 430));
    }
    .cardTop > img {
        width: calc(309 * (1px + (100vw - 430px) / 430));
        height: calc(228 * (1px + (100vw - 430px) / 430));
    }
    .cardBottom {
        background-position: 0;
        background-size: 130% 100%;
    }
    .cards {
        margin-top: calc(60 * (1px + (100vw - 430px) / 430));
        padding-left: calc(22 * (1px + (100vw - 430px) / 430));
        padding-right: calc(22 * (1px + (100vw - 430px) / 430));
        display: block;
        background-position: bottom;
        background-size: cover;
    }
    .card {
        margin-bottom: calc(15 * (1px + (100vw - 430px) / 430));
    }
    .card:last-child {
        margin-bottom: 0;
    }
    .flower {
        display: none;
    }
    .cardOrderSubtitle {
        color: #00EAFF;
        font-size: calc(14 * (1px + (100vw - 430px) / 430));
        line-height: calc(22 * (1px + (100vw - 430px) / 430));
    }
    .cardText {
        font-size: calc(15 * (1px + (100vw - 430px) / 430));
        line-height: calc(22 * (1px + (100vw - 430px) / 430));
        max-width: calc(265 * (1px + (100vw - 430px) / 430));
    }
    .cardOrder {
        padding-left: calc(35 * (1px + (100vw - 430px) / 430));
        padding-right: calc(35 * (1px + (100vw - 430px) / 430));
        padding-bottom: calc(35 * (1px + (100vw - 430px) / 430));
        padding-top: calc(35 * (1px + (100vw - 430px) / 430));
    }
    .btn {
        right: calc(40 * (1px + (100vw - 430px) / 430));
        bottom: calc(40 * (1px + (100vw - 430px) / 430));
        cursor: pointer;
        display: inline-block;
        width: calc(85 * (1px + (100vw - 430px) / 430));
        height: calc(85 * (1px + (100vw - 430px) / 430));
    }
    .btn:hover .arrow {
        transform: scale(1.05) translate(-50%, -50%);
    }
    .arrow {
        width: calc(13 * (1px + (100vw - 430px) / 430));
        height: calc(13 * (1px + (100vw - 430px) / 430));
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .cardOrderTop {
        margin-bottom: calc(35 * (1px + (100vw - 430px) / 430));
    }
    .cardOrderBottom {
        padding-top: calc(35 * (1px + (100vw - 430px) / 430));
    }
    .wrapper {
        margin-top: calc(110 * (1px + (100vw - 430px) / 430));
    }
}