.wrapper {
    padding-bottom: calc(75 * (1px + (100vw - 1530px) / 1530));
}
.rightBlock {
    width: 36.5%;
    background: #191919B2;
    backdrop-filter: blur(100px);
    border-radius: calc(30 * (1px + (100vw - 1530px) / 1530));
    padding: calc(7 * (1px + (100vw - 1530px) / 1530));
    position: absolute;
    top: calc(7 * (1px + (100vw - 1530px) / 1530));
    right: calc(10 * (1px + (100vw - 1530px) / 1530));
}
.inner {
    padding-right: calc(10 * (1px + (100vw - 1530px) / 1530));
}

.rightVideoBlock {
    height: calc(355 * (1px + (100vw - 1530px) / 1530));
    border-radius: calc(26 * (1px + (100vw - 1530px) / 1530));
    position: relative;
    margin-bottom: calc(4 * (1px + (100vw - 1530px) / 1530));
}
.rightVideo {
    object-fit: cover;
    border-radius: calc(26 * (1px + (100vw - 1530px) / 1530));
    height: 100%;
    width: 100%;
    object-position: top;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00e7fc;
    mix-blend-mode: hue;
    pointer-events: none;
    border-radius: calc(26 * (1px + (100vw - 1530px) / 1530));
}
.overlay:last-child {
    background: linear-gradient(180deg, #035860cf 0%, rgba(0, 0, 0, 0) 100%);
    mix-blend-mode: normal;
}
.panel {
    background: linear-gradient(90deg, #262626 0%, rgba(21, 21, 21, 0.08) 100%);
    border-radius: calc(30 * (1px + (100vw - 1530px) / 1530));
    display: flex;
    align-items: center;
    padding-top: calc(38 * (1px + (100vw - 1530px) / 1530));
    padding-bottom: calc(46 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(44 * (1px + (100vw - 1530px) / 1530));
    padding-left: calc(48 * (1px + (100vw - 1530px) / 1530));
    position: relative;
}
.panel:last-child {
    background: linear-gradient(90deg, rgba(21, 21, 21, 0.08) 0%, #0A2426 100%);
    margin-top: calc(7 * (1px + (100vw - 1530px) / 1530));
}
.panel:last-child .panelContent {
    padding-right: calc(62 * (1px + (100vw - 1530px) / 1530));
    border-right: 1px solid #FFFFFF33;
    padding-left: 0;
    border-left: none;
}
.panel:last-child .panelNumber {
    padding-left: calc(30 * (1px + (100vw - 1530px) / 1530));
}
.panel:last-child .panelNumber {
    padding-right: 0;
}
.panelNumber {
    font-weight: 600;
    font-size: calc(110 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(60 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(25 * (1px + (100vw - 1530px) / 1530));
}
.panelContent {
    padding-left: calc(35 * (1px + (100vw - 1530px) / 1530));
    border-left: 1px solid #FFFFFF33;
}
.panelTitle {
    font-weight: 600;
    font-size: calc(16 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(23 * (1px + (100vw - 1530px) / 1530));
    margin-bottom: calc(14 * (1px + (100vw - 1530px) / 1530));
}
.panelText {
    font-weight: 500;
    font-size: calc(13 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(18 * (1px + (100vw - 1530px) / 1530));
    opacity: .5;
}


.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: 0;    
    opacity: .1;
    filter: saturate(0);
}
@media (max-width: 767px) {
    .wrapper {
        padding-bottom: calc(61 * (1px + (100vw - 430px) / 430));
    }
    .video {
        height: 100%;
    }
    .rightBlock {
        display: none;
    }
    .wrapper {
        padding-bottom: calc(75 * (1px + (100vw - 430px) / 430));
    }
    .inner {
        margin-top: 33vh;
    }
}

@media(max-width: 1650px) {
    .rightVideoBlock {
        height: calc(310 * (1px + (100vw - 1530px) / 1530));
    }
}