
.wrapper {
    position: relative;
    top: calc(-400 * (1px + (100vw - 1530px) / 1530));
    margin-bottom: calc(-240 * (1px + (100vw - 1530px) / 1530));
}
.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: calc(20 * (1px + (100vw - 1530px) / 1530));
    margin-top: calc(62 * (1px + (100vw - 1530px) / 1530));
}
.card {
    border: 1px solid #FFFFFF1A;
    border-radius: calc(30 * (1px + (100vw - 1530px) / 1530));
    background: #161616;
    width: 49.3%;
    transition: .35s;
    overflow: hidden;
}
.card:hover {
    transform: scale(.988);
}
.card:hover .btn {
    background-color: #fff;
    transform: scale(.9);
}
.card:hover .arrow {
    filter: brightness(0);
    transform: scale(1.1);
}
.card:hover .img > img{
    transform: scale(1.06);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.arrow {
    width: calc(13 * (1px + (100vw - 1530px) / 1530));
    height: calc(13 * (1px + (100vw - 1530px) / 1530));
    transition: .3s;
}
.btn {
    transition: .3s;
    padding: calc(48 * (1px + (100vw - 1530px) / 1530));
    right: calc(40 * (1px + (100vw - 1530px) / 1530));
    bottom: calc(40 * (1px + (100vw - 1530px) / 1530));
    cursor: pointer;
    display: inline-block;
    border: 1px solid #FFFFFF33;
}
.img > img {
    width: 100%;
    height: calc(338 * (1px + (100vw - 1530px) / 1530));
    border-radius: calc(25 * (1px + (100vw - 1530px) / 1530));
    transition: .4s;
}
.img {
    width: 100%;
    padding-top: calc(8 * (1px + (100vw - 1530px) / 1530));
    padding-left: calc(8 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(8 * (1px + (100vw - 1530px) / 1530));
}
.inner {
    margin-top: calc(29 * (1px + (100vw - 1530px) / 1530));
    padding-left: calc(40 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(40 * (1px + (100vw - 1530px) / 1530));
    padding-bottom: calc(32 * (1px + (100vw - 1530px) / 1530));
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.description {
    font-weight: 500;
    font-size: calc(13 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(20 * (1px + (100vw - 1530px) / 1530));
    opacity: .5;
}
.title {
    font-weight: 600;
    font-size: calc(20 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(20 * (1px + (100vw - 1530px) / 1530));
    margin-bottom: calc(8 * (1px + (100vw - 1530px) / 1530));
}
.tags {
    margin-top: calc(22 * (1px + (100vw - 1530px) / 1530));
}
.tag {
    margin-right: calc(5 * (1px + (100vw - 1530px) / 1530));
    font-weight: 600;
    font-size: calc(12 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(19 * (1px + (100vw - 1530px) / 1530));
    backdrop-filter: blur(20px);
    background: #FFFFFF1A;
    border-radius: calc(100 * (1px + (100vw - 1530px) / 1530));
    padding: calc(10 * (1px + (100vw - 1530px) / 1530)) calc(20 * (1px + (100vw - 1530px) / 1530));
}
.tag > span {
    opacity: .8;
}
.tag:last-child {
    margin-right: 0;
}
.logo {
    width: calc(236 * (1px + (100vw - 1530px) / 1530));
    height: calc(65 * (1px + (100vw - 1530px) / 1530));
}
.titleWrapper >div >div{
    color: #00EAFF;
}
.titleWrapper >div >div >span {
    opacity: 1;
}
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(45 * (1px + (100vw - 1530px) / 1530));
}
.flower > img{
    width: calc(56 * (1px + (100vw - 1530px) / 1530));
    height: calc(56 * (1px + (100vw - 1530px) / 1530));
}

@media (max-width: 767px) {
    .wrapper {
        top: 0;
        margin-top: calc(100 * (1px + (100vw - 430px) / 430));
        margin-bottom: calc(100 * (1px + (100vw - 430px) / 430));
    }
    .flower {
        display: none;
    }
    .bottom {
        margin-top: calc(30 * (1px + (100vw - 430px) / 430));
        padding-left: calc(22 * (1px + (100vw - 430px) / 430));
    }
    .btn {
        display: none;
    }
    .card {
        width: 100%;
        border-radius: calc(30 * (1px + (100vw - 430px) / 430));
    }
    .cards {
        padding-left: calc(22 * (1px + (100vw - 430px) / 430));
        padding-right: calc(22 * (1px + (100vw - 430px) / 430));
        row-gap: calc(15 * (1px + (100vw - 430px) / 430));
        margin-top: calc(54 * (1px + (100vw - 430px) / 430));
    }
    .title {
        font-size: calc(20 * (1px + (100vw - 430px) / 430));
        line-height: calc(26 * (1px + (100vw - 430px) / 430));
        margin-bottom: calc(8 * (1px + (100vw - 430px) / 430));
    }
    .tag {
        margin-right: calc(5 * (1px + (100vw - 430px) / 430));
        font-size: calc(12 * (1px + (100vw - 430px) / 430));
        line-height: calc(19 * (1px + (100vw - 430px) / 430));
        border-radius: calc(100 * (1px + (100vw - 430px) / 430));
        padding: calc(10 * (1px + (100vw - 430px) / 430)) calc(20 * (1px + (100vw - 430px) / 430));
    }
    .tags {
        margin-top: calc(40 * (1px + (100vw - 430px) / 430));
    }
    .description {
        font-size: calc(14 * (1px + (100vw - 430px) / 430));
        line-height: calc(20 * (1px + (100vw - 430px) / 430));
    }
    .img > img {
        width: 100%;
        height: calc(178 * (1px + (100vw - 430px) / 430));
        border-radius: calc(25 * (1px + (100vw - 430px) / 430));
    }
    .img {
        width: 100%;
        padding-top: calc(8 * (1px + (100vw - 430px) / 430));
        padding-left: calc(8 * (1px + (100vw - 430px) / 430));
        padding-right: calc(8 * (1px + (100vw - 430px) / 430));
    }
    .inner {
        margin-top: calc(26 * (1px + (100vw - 430px) / 430));
        padding-left: calc(29 * (1px + (100vw - 430px) / 430));
        padding-right: calc(41 * (1px + (100vw - 430px) / 430));
        padding-bottom: calc(29 * (1px + (100vw - 430px) / 430));
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card:hover .img > img{
        transform: scale(1);
        border-radius: calc(80 * (1px + (100vw - 1530px) / 1530));
    }

    .card:hover {
        transform: scale(0.97);
    }
}