.card{
    padding-left: calc(40 * (1px + (100vw - 1530px) / 1530));
    padding-top: calc(40 * (1px + (100vw - 1530px) / 1530));
    padding-bottom: calc(40 * (1px + (100vw - 1530px) / 1530));
    border-radius: calc(30 * (1px + (100vw - 1530px) / 1530));
    background: #191919;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: calc(398 * (1px + (100vw - 1530px) / 1530));
    width: 49.3%;
    position: relative;
}

.period {
    font-weight: 600;
    font-size: calc(14 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(19 * (1px + (100vw - 1530px) / 1530));
    background: #00EAFF;
    color: #191919;
    border-radius: calc(100 * (1px + (100vw - 1530px) / 1530));
    backdrop-filter: blur(20px);
    padding-left: calc(27 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(27 * (1px + (100vw - 1530px) / 1530));
    padding-top: calc(15 * (1px + (100vw - 1530px) / 1530));
    padding-bottom: calc(15 * (1px + (100vw - 1530px) / 1530));
    border-radius: calc(30 * (1px + (100vw - 1530px) / 1530));
    margin-bottom: calc(43 * (1px + (100vw - 1530px) / 1530));
}
.title {
    font-weight: 600;
    font-size: calc(20 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(26 * (1px + (100vw - 1530px) / 1530));
}
.subtitle {
    font-weight: 600;
    font-size: calc(13 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(20 * (1px + (100vw - 1530px) / 1530));
    opacity: .5;
}
.text {
    margin-top: calc(33 * (1px + (100vw - 1530px) / 1530));
    max-width: calc(302 * (1px + (100vw - 1530px) / 1530));
    margin-bottom: calc(63 * (1px + (100vw - 1530px) / 1530));
    opacity: .4;
    font-weight: 500;
    font-size: calc(15 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(20 * (1px + (100vw - 1530px) / 1530));
}
.priceBlock {
    font-weight: 600;
    font-size: calc(18 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(20 * (1px + (100vw - 1530px) / 1530));
    letter-spacing: -1px;
}
.price {
    font-weight: 600;
    font-size: calc(30 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(20 * (1px + (100vw - 1530px) / 1530));
    letter-spacing: -1px;
    padding-left: calc(6 * (1px + (100vw - 1530px) / 1530));
    padding-right: calc(6 * (1px + (100vw - 1530px) / 1530));
}
.currency {
    font-weight: 600;
    font-size: calc(18 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(20 * (1px + (100vw - 1530px) / 1530));
    letter-spacing: -1px;
}
.imgBlock {
    position: relative;
    right: -1px;
}
.img {
    width: calc(379 * (1px + (100vw - 1530px) / 1530));
    height: calc(398 * (1px + (100vw - 1530px) / 1530));
}
.arrow {
    width: calc(13 * (1px + (100vw - 1530px) / 1530));
    height: calc(13 * (1px + (100vw - 1530px) / 1530));
}
.btn {
    padding: calc(48 * (1px + (100vw - 1530px) / 1530));
    right: calc(40 * (1px + (100vw - 1530px) / 1530));
    bottom: calc(40 * (1px + (100vw - 1530px) / 1530));
    cursor: pointer;
    transition: .3s;
    border: 1px solid #fff3;
}
.btn:hover {
    transform: scale(0.9);
}
.btn:hover .arrow{
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .card{
        padding-right: calc(31 * (1px + (100vw - 430px) / 430));
        padding-left: calc(31 * (1px + (100vw - 430px) / 430));
        padding-top: calc(46 * (1px + (100vw - 430px) / 430));
        padding-bottom: calc(31 * (1px + (100vw - 430px) / 430));
        border-radius: calc(30 * (1px + (100vw - 430px) / 430));
        display: block;
        max-height: calc(500 * (1px + (100vw - 430px) / 430));
        width: 100%;
    }
    
    .period {
        font-size: calc(14 * (1px + (100vw - 430px) / 430));
        line-height: calc(19 * (1px + (100vw - 430px) / 430));
        border-radius: calc(100 * (1px + (100vw - 430px) / 430));
        padding-left: calc(27 * (1px + (100vw - 430px) / 430));
        padding-right: calc(27 * (1px + (100vw - 430px) / 430));
        padding-top: calc(15 * (1px + (100vw - 430px) / 430));
        padding-bottom: calc(15 * (1px + (100vw - 430px) / 430));
        border-radius: calc(30 * (1px + (100vw - 430px) / 430));
    }
    .title {
        font-weight: 600;
        font-size: calc(23 * (1px + (100vw - 430px) / 430));
        line-height: calc(26 * (1px + (100vw - 430px) / 430));
    }
    .subtitle {
        font-size: calc(14 * (1px + (100vw - 430px) / 430));
        line-height: calc(20 * (1px + (100vw - 430px) / 430));
    }
    .text {
        margin-top: calc(38 * (1px + (100vw - 430px) / 430));
        max-width: calc(302 * (1px + (100vw - 430px) / 430));
        margin-bottom: calc(38 * (1px + (100vw - 430px) / 430));
        opacity: .6;
        font-size: calc(15 * (1px + (100vw - 430px) / 430));
        line-height: calc(20 * (1px + (100vw - 430px) / 430));
    }
    .priceBlock {
        font-size: calc(18 * (1px + (100vw - 430px) / 430));
        line-height: calc(20 * (1px + (100vw - 430px) / 430));
    }
    .price {
        font-size: calc(35 * (1px + (100vw - 430px) / 430));
        line-height: calc(20 * (1px + (100vw - 430px) / 430));
        padding-left: calc(6 * (1px + (100vw - 430px) / 430));
        padding-right: calc(6 * (1px + (100vw - 430px) / 430));
    }
    .currency {
        font-size: calc(18 * (1px + (100vw - 430px) / 430));
        line-height: calc(20 * (1px + (100vw - 430px) / 430));
    }
    .img {
        width: calc(315 * (1px + (100vw - 430px) / 430));
        height: calc(340 * (1px + (100vw - 430px) / 430));
    }
    .imgBlock {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
        opacity: .55;
    }
    .btn:hover .arrow{
        transform: scale(1.1) translate(-50%, -50%);
    }
    .arrow {
        width: calc(13 * (1px + (100vw - 430px) / 430));
        height: calc(13 * (1px + (100vw - 430px) / 430));
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .btn {
        cursor: pointer;
        display: inline-block;
        width: calc(92 * (1px + (100vw - 430px) / 430));
        height: calc(92 * (1px + (100vw - 430px) / 430));
    }
    .info {
        position: relative;
        z-index: 1;
        margin-bottom: calc(66 * (1px + (100vw - 430px) / 430));
    }
}