.wrapper {
    margin-top: calc(63 * (1px + (100vw - 1530px) / 1530));
}
.link {
    margin-top: calc(50 * (1px + (100vw - 1530px) / 1530));
    font-size: calc(15 * (1px + (100vw - 1530px) / 1530));
}
.link > a {
    opacity: 1;
    transition: .3s;
}
.link > a:hover {
    opacity: .8;
}
.linkIcon {
    width: calc(10 * (1px + (100vw - 1530px) / 1530));
    height: calc(10 * (1px + (100vw - 1530px) / 1530));
    margin-left: calc(5 * (1px + (100vw - 1530px) / 1530));
}
.info {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.number {
    font-weight: 600;
    font-size: calc(128 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(100 * (1px + (100vw - 1530px) / 1530));
}
.number:nth-child(2) {
    position: relative;
    top: calc(232 * (1px + (100vw - 1530px) / 1530));
}
.steps {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 96%;
}
.step {
    border: 1px solid #404040;
    border-radius: calc(100 * (1px + (100vw - 1530px) / 1530));
    display: inline-block;
    padding: calc(33 * (1px + (100vw - 1530px) / 1530)) calc(40 * (1px + (100vw - 1530px) / 1530));
    font-weight: 600;
    font-size: calc(17 * (1px + (100vw - 1530px) / 1530));
    line-height: calc(9 * (1px + (100vw - 1530px) / 1530));
    text-align: center;
    z-index: 1;
}
.step > span {
    opacity: .7;
}
.step:nth-child(1),
.step:nth-child(3) {
    top: calc(185 * (1px + (100vw - 1530px) / 1530));
    position: relative;
}
.content {
    overflow: hidden;
    margin-top: calc(75 * (1px + (100vw - 1530px) / 1530));
}
.sphere {
    /* background: linear-gradient(180deg, #0E0E0E 0%, #000000 25.31%, #000000 100%); */
    position: relative;
    margin-top: calc(270 * (1px + (100vw - 1530px) / 1530));
}
.overlay {
    background: linear-gradient(180deg, rgba(10, 36, 38, 0) 0%, #0E0E0E 64.79%);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}
.video {
    width: calc(850 * (1px + (100vw - 1530px) / 1530));
    height: calc(800 * (1px + (100vw - 1530px) / 1530));
    margin: 0 auto;
    mix-blend-mode: lighten;
    opacity: .4;
}
.elipse {
    width: calc(1900 * (1px + (100vw - 1530px) / 1530));
    height: calc(1900 * (1px + (100vw - 1530px) / 1530));
    position: absolute;
    top: calc(-202 * (1px + (100vw - 1530px) / 1530));
    left: calc(-190 * (1px + (100vw - 1530px) / 1530));
    border: 1px solid #FFFFFF33;
    border-radius: 50%;
}
.circle {
    width: calc(17 * (1px + (100vw - 1530px) / 1530));
    height: calc(17 * (1px + (100vw - 1530px) / 1530));
    background: #0F0F0F;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.circleWrapper {
    width: calc(40 * (1px + (100vw - 1530px) / 1530));
    height: calc(40 * (1px + (100vw - 1530px) / 1530));
    position: absolute;
    z-index: 1;
}
.circleWrapper:nth-child(2) {
    left: 11.5%;
    top: -4%;
}
.circleWrapper:nth-child(3) {
    left: 50%;
    transform: translateX(-60%);
    top: -27.5%;
}
.circleWrapper:nth-child(4) {
    right: 11.5%;
    top: -4%;
}
.lineMiddle {
    height: calc(100 * (1px + (100vw - 1530px) / 1530));
    width: calc(40 * (1px + (100vw - 1530px) / 1530));
    position: absolute;
    left: 49.8%;
    top: -37%;
    transform: translate(-50%);
}
.lineLeft {
    position: absolute;
    height: calc(110 * (1px + (100vw - 1530px) / 1530));
    width: calc(43 * (1px + (100vw - 1530px) / 1530));
    left: 10.2%;
    top: -14%;
    z-index: 0;
}
.lineRight {
    position: absolute;
    height: calc(110 * (1px + (100vw - 1530px) / 1530));
    width: calc(43 * (1px + (100vw - 1530px) / 1530));
    right: 10.3%;
    top: -14%;
    z-index: 0;
}
.mobileContent {
    display: none;
}

@media (max-width: 767px) {
    .wrapper {
        margin-top: calc(44 * (1px + (100vw - 430px) / 430));
        overflow: hidden;
        background: linear-gradient(180deg, rgba(14, 14, 14, 0) 0%, #000000 31.06%, #000000 100%);
    }
    .link {
        margin-top: calc(42 * (1px + (100vw - 430px) / 430));
        font-size: calc(15 * (1px + (100vw - 430px) / 430));
    }
    .linkIcon {
        width: calc(10 * (1px + (100vw - 430px) / 430));
        height: calc(10 * (1px + (100vw - 430px) / 430));
        margin-left: calc(5 * (1px + (100vw - 430px) / 430));
    }
    .content {
        display: none;
    }
    .mobileContent {
        display: block;
        margin-top: calc(130 * (1px + (100vw - 430px) / 430));
        padding-bottom: calc(165 * (1px + (100vw - 430px) / 430));
    }
    .video {
        width: 100%;
        height: 100%;
        mix-blend-mode: lighten;
        opacity: .5;
        object-fit: cover;
    }
    .videoWrapper {
        position: relative;
        right: -20%;
        width: calc(636 * (1px + (100vw - 430px) / 430));
        height: calc(636 * (1px + (100vw - 430px) / 430));
    }
    .elipse {
        width: calc(636 * (1px + (100vw - 430px) / 430));
        height: calc(636 * (1px + (100vw - 430px) / 430));
        top: 0%;
        scale: 1.18;
        left: 0;
        /* right: -50%; */
    }
    .info {
        display: block;
        position: absolute;
        max-height: calc(70 * (1px + (100vw - 430px) / 430));
    }
    .number {
        font-weight: 600;
        font-size: calc(70 * (1px + (100vw - 430px) / 430));
        line-height: calc(50 * (1px + (100vw - 430px) / 430));
        left: 20%;
    }
    .number:nth-child(1) {
        position: relative;
    }
    .number:nth-child(2) {
        top: calc(255 * (1px + (100vw - 430px) / 430));
        left: calc(322 * (1px + (100vw - 430px) / 430));
        transform: translateY(-50%);
    }
    .number:nth-child(3) {
        bottom: calc(-490 * (1px + (100vw - 430px) / 430));
        position: relative;
    }
    .steps {
        width: 110%;
        display: block;
    }
    .step {
        border: 1px solid #404040;
        backdrop-filter: blur(100px);
        border-radius: calc(100 * (1px + (100vw - 430px) / 430));
        padding: calc(33 * (1px + (100vw - 430px) / 430));
        font-size: calc(16 * (1px + (100vw - 430px) / 430));
        line-height: calc(9 * (1px + (100vw - 430px) / 430));
    }
    .step:first-child{
        width: calc(235 * (1px + (100vw - 430px) / 430));
        top: calc(-83 * (1px + (100vw - 430px) / 430));
        right: calc(-170 * (1px + (100vw - 430px) / 430));
    }
    .step:nth-child(2) {
        width: calc(208 * (1px + (100vw - 430px) / 430));
        backdrop-filter: blur(100px);
        top: calc(45 * (1px + (100vw - 430px) / 430));
        left: calc(80 * (1px + (100vw - 430px) / 430));
        position: relative;
    }
    .step:last-child {
        width: calc(235 * (1px + (100vw - 430px) / 430));
        top: calc(185 * (1px + (100vw - 430px) / 430));
        right: calc(-170 * (1px + (100vw - 430px) / 430));
    }

    .circle {
        width: calc(17 * (1px + (100vw - 430px) / 430));
        height: calc(17 * (1px + (100vw - 430px) / 430));
        top: 47%;
    }
    .circleWrapper {
        width: calc(40 * (1px + (100vw - 430px) / 430));
        height: calc(40 * (1px + (100vw - 430px) / 430));
    }
    .circleWrapper:nth-child(5) {
        top: 0%;
        left: calc(155 * (1px + (100vw - 430px) / 430));
    }
    .circleWrapper:nth-child(6) {
        top: calc(290 * (1px + (100vw - 430px) / 430));
        left: calc(10 * (1px + (100vw - 430px) / 430));
    }
    .circleWrapper:nth-child(7) {
        top: calc(592 * (1px + (100vw - 430px) / 430));
        left: calc(155 * (1px + (100vw - 430px) / 430));
    }
}
@media (max-width: 400px) {
    .circle {
        top: 44%;
    }
}